h1 {
  font-weight: 400;
  font-size: 1.7rem;
}
.see-all {
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: #f99c2e;
}

@keyframes button-run {
  0% {
    position: relative;
    left: 0;
  }
  25% {
    position: relative;
    left: 5px;
    color: red;
  }
  50% {
    position: relative;
    left: -7px;
    color: green;
  }
  75% {
    position: relative;
    left: 5px;
    color: purple;
  }
  100% {
    position: relative;
    left: 0;
  }
}
.btn {
  background-color: #000;
  color: white;
  border: 30px;
  margin-bottom: 10px;
}
.btn:hover {
  transition: all 0.5s;
  background-color: white;
  color: #000;
  outline: 4px solid #000;
}
.btn:hover span {
  animation: button-run 1s ease-in-out 0.5s infinite alternate-reverse;
}

/* nav */
nav ul {
  font-size: 1rem;
}
nav ul a.active {
  font-weight: 800;
  border-bottom: 2px solid #000;
}
.nav-item {
  margin-right: 20px;
}
/* nav */
.background-enhancer {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -10px;
  bottom: 0;
}
/* carousel */
.carousel {
  border-radius: 20px;
}
.carousel .btn {
  padding: 10px 40px;
}
.carousel p {
  margin: 40px 0;
}

.carousel ol {
  position: static;
}
.carousel ol li {
  width: 16px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(to right, #ffa133, #f99c2e);
}
.carousel ol .active {
  width: 45px;
  height: 12px;
  border-radius: 5px;
}
/* carousel */

/* smartphone */
#smartphone {
  margin-top: 100px;
}
#smartphone .card:nth-child(n) {
  margin-bottom: 20px;
}
#smartphone img {
  max-width: 70%;
  height: auto;
}
#smartphone .card {
  border-radius: 20px !important;
}
/* smartphone */

/* laptop */
#laptop {
  margin-top: 100px;
}
#laptop .card:nth-child(n) {
  margin-bottom: 20px;
}
#laptop img {
  max-width: 90%;
  height: auto;
}
#laptop .card {
  border-radius: 20px !important;
}
/* laptop */

/* categories */
#categoties {
  margin-top: 100px;
}
hr {
  opacity: 1;
  display: block;
  width: 100px;
  background: linear-gradient(to right, #ffa133, #f99c2e);
}
.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
}
.box h4 {
  margin-top: 20px;
}
.box img:hover {
  cursor: pointer;
  transform: rotate(-360deg);
  transition: 0.7s;
}
.box-1 {
  border-bottom-left-radius: 10%;
  border-top-right-radius: 5%;
}
.box-2,
.box-3 {
  border-top-left-radius: 5%;
  border-bottom-right-radius: 10%;
  margin-top: 30px;
}
/* categories */
footer {
  margin-top: 100px;
}
